canvas {
  margin-top: 5px;
}

.switch-container {
  position: relative;
  width: 100px;
  height: 30px;

  .switcher-description {
    position: absolute;
    left: 0;
    top: 4px;
  }

  .switcher-element {
    position: absolute;
    right: 0;
  }
}

.switcher-container-sound {
  width: 106px;
}