body {
  font-family: 'Amaranth', sans-serif;
}

.start-button {
  position: absolute;
  left: 80px;
  top: 150px;
}

.main-container {
  position: relative;
  margin: 20px auto;
  height: 470px;
  width: 390px;

  .field-container {
    position: absolute;
    top: 0;
    left: 0;
    border: 4px solid #2a7df9;
    border-radius: 20px 0 20px 0;
    text-align: center;
    width: 230px;
    margin-left: 10px;

    .blocks-row:first-of-type {
      margin-top: 8px;
    }
  }

  .next-figure-container {
    padding-top: 5px;
    position: absolute;
    top: 0;
    left: 250px;
    border: 4px solid #ffcc00;
    border-radius: 20px 0 20px 0;
    width: 130px;
    height: 145px;
    text-align: center;
  }

  .level-score-container {
    padding-top: 15px;
    position: absolute;
    top: 170px;
    left: 250px;
    border: 4px solid #ff4433;
    border-radius: 20px 0 20px 0;
    width: 130px;
    height: 140px;
    text-align: center;
  }

  .level {
    height: 20px;
    position: relative;
    margin-bottom: 20px;

    &__bg {
      background: rgba(13, 226, 128, 122);
      display: inline-block;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
  }

  .blocks-row {

    &:first-of-type {
      margin-top: 20px;
    }

    .block {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-top: -3px;
      margin-right: 1px;

      &--bg-gray {
        background: #cccccc;
        border-radius: 5px;
      }
    }
  }
}